[run]
omit = 
        ./scikit-surgerytrackervisualisation/_version.py
        ./scikit-surgerytrackervisualisation/__init__.py
        ./scikit-surgerytrackervisualisation/__main__.py
        ./scikit-surgerytrackervisualisation/ui/scikit-surgerytrackervisualisation_command_line.py
