[run]
omit = 
        ./sksurgerytrackervisualisation/_version.py
        ./sksurgerytrackervisualisation/__init__.py
        ./sksurgerytrackervisualisation/__main__.py
        ./sksurgerytrackervisualisation/ui/scikit-surgerytrackervisualisation_command_line.py
