# This file lists the python packages that your software depends on.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst
numpy>=1.11
PySide2<=5.13.1
vtk
scikit-surgeryvtk>=0.9.0
scikit-surgeryimage>=0.6.0
scikit-surgerycore
scikit-surgeryutils
scikit-surgerynditracker
scikit-surgeryarucotracker
